{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-warning">{{ error|trans }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <div class="row">
    	<div class="col-xs-12">
		 	<div class="form-group">
		 		<div class="input-group input-group-sm">
		    		<label for="username" class="input-group-addon"><i class="fa fa-user"></i></label>
		    		<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'user.username'|trans }}" />
		    	</div>
			</div>
			<div class="form-group">
				<div class="input-group input-group-sm">
			    	<label for="username" class="input-group-addon"><i class="fa fa-key"></i></label>
			    	<input type="password"  class="form-control" id="password" name="_password" required="required" placeholder="{{ 'user.password'|trans }}" />
			    </div>
		  	</div>
			<div class="checkbox">
    			<label><small><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</small></label>
  			</div>
		  	<button type="submit" id="_submit" name="_submit" class="btn btn-default btn-sm">{{ 'security.login.submit'|trans }}</button>
	  	</div>
  	</div>
</form>
{% endblock fos_user_content %}
