{% extends "LololBattleBundle::layout.html.twig" %}
{% block lolol_title %}{{ 'battle.attack'|trans }}{% endblock %}

{% block lolol_help_body %}
C'est ici que vous pouvez attaquer vos adversaires. Choisissez parmis vos équipes celle qui va attaquer.
Choisissez un adversaire à votre portée et cliquez sur l'icône d'attaque.
{% endblock %}


{% block lolol_main %}

{% for result in results %}
	{% if loop.first %}
		<div class="row">
			<div class="col-xs-12">
				<strong>{{ 'battle.otherTeams'|trans }}</strong>
			</div>
		</div>
		<br />
	{% endif %}
	<div class="row">
		<div class="col-xs-12 col-sm-6 gutter-1">
			<div class="col-xs-12">
				{{ result.team.name }}
			</div>
			<div class="col-xs-1">
				<input type="radio">
			</div>
			{% for championTeam in result.champions %}
			<div class="col-xs-1">
				<div class="thumbnail text-center overflow-hidden">
					<img 
						src="{{ asset(folder ~ '/img/' ~ prefixIcons20 ~ championTeam.champion.imgName ~suffixIcons) }}"
						alt="{{ championTeam.champion.name }}" /> 
					<a href="{{ path('lolol_app_champion', { 'id': championTeam.champion.id }) }}" title="{{ championTeam.champion.name }}"><small>{{
							championTeam.champion.name }}</small></a>
				</div>								
			</div>
			{% else %}
			BUG: empty team
			{% endfor %}
		</div><!-- /input-group -->
	</div>
{% else %}
	<p>{{ 'team.myTeams.empty'|trans }}</p>
{% endfor %}
{% endblock %}