{% extends "LololSuperAdminBundle::layout.html.twig" %} 

{% block javascripts %}
    {{ parent() }}

	<script type="text/javascript">
	function checkAll(checked) {
		$('.chkChampion').prop('checked', checked);
	}

	$(document).ready(function() {
	  $('.selectAll').on('click', function() { checkAll(true); return false;});
	  $('.unselectAll').on('click', function() { checkAll(false); return false;});
	});
	
	</script>
{% endblock %}

{% block lololsuperadmin_body %}
	<form method="POST" action="{{ path('lolol_super_admin_retrieveProcess') }}">
	<button class="btn btn-default selectAll">Select all</button>
	<button class="btn btn-default unselectAll">Unselect all</button>
	<button class="btn btn-primary retrieve">Retrieve</button>
  	<ul class="nav nav-pills nav-stacked">
    {% for championInfo in championInfos %}
      	<li>
      		<div class="checkbox">
	    		<label><input class="chkChampion" type="checkbox" id="{{ championInfo.name }}" name="champions[]" value="{{ championInfo.name }}" checked="true" />
				<div class="row">
					<div class="col-lg-2">    		
    					{{ championInfo.name }}
    				</div>
    				<div class="col-lg-3">
    			 		<i>({{ championInfo.lastRetrieve }})</i>
    			 	</div>
    			</div>	    		
	    		</label>
  			</div>
      	</li>
    {% else %}
      	<li>No champion</li>
    {% endfor %}
  	</ul>
	<button class="btn btn-default selectAll">Select all</button>
	<button class="btn btn-default unselectAll">Unselect all</button>
	<button class="btn btn-primary retrieve">Retrieve</button>
	</form>
{% endblock %}

