{% extends "LololTeamBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript">

	var selectedChampion = null;
	var selectedTeamSlot = null;

	var team = {};
	var placeholders = {}
	
	
	$(document).ready(function() {	
		$('.btn-save').on('click', function() {
			return save();
		});

		$('.btn-reset').on('click', function() {
			return reset();
		});		
		
		$('.draggable').draggable({ revert: true });
		$('.droppable').droppable({
		    drop: function() { alert('dropped'); }
		});

		$('.draggable').on('click', function() {
			var currentChampion = $(this);
			$('.draggable').each(function(index) {
				var champion = $(this);
				if(currentChampion.is(champion)) {
					if(champion.hasClass('champion-selected')) {
						selectedChampion = null;
						champion.removeClass('champion-selected');
					} else {
						selectedChampion = $(this).attr('id');
						champion.addClass('champion-selected');
					}
				} else if($(this).hasClass('champion-selected')) {
					$(this).removeClass('champion-selected');
				}
			});
		});

		$('.droppable').on('click', function() {
			if(Object.keys(placeholders).length == 0) {
				// Backup the placeholders
				$('.droppable').each(function(index) {
					var id = $(this).attr('id');
					var img = '#' + id + ' > img';
					placeholders[id] = $(img).attr('src');
				});
			}

			if(selectedChampion != null) {
				var id = $(this).attr('id');
				var img = '#'+id+' > img';
				var link = '#'+id+' > a';

				// Check if duplicate champion in team
				for (var tmpId in team) {
					if(team[tmpId] == selectedChampion) {
						clear(tmpId);
					}
				}

				team[id] = selectedChampion;
				
				var championUrl = $('#'+selectedChampion+'> img').attr('src');
				var championName = $('#'+selectedChampion+'> a').html();

				$(img).attr('src', championUrl);
				$(link).html(championName);

				if(checkTeam()) {
					$('.btn-save').removeAttr('disabled');
				} else {
					$('.btn-save').attr('disabled','disabled');				
				}
			}
		});
	});

	function clear(id) {
		var tmpImg = '#'+id+' > img';
		var tmpLink = '#'+id+' > a';

		delete team[id];

		// Restores the placeholder
		$(tmpImg).attr('src', placeholders[id]);
		$(tmpLink).html('<small>{{ 'team.empty'|trans }}</small>');
	}

	function checkTeam() {
		var championsCount = 0;
		for(id in team) {
			championsCount++;
		}
		return true;
		return championsCount == 5;
	}

	function save() {
		$('#loading-indicator').show();
		
//	    $.post('{{ path('lolol_team_teamBuilderSave') }}',               
// 	                {data1: 'mydata1', data2:'mydata2'}, 
// 	            function(response){
// 					if(response.code == 100 && response.success){//dummy check
// 						//do something
// 					} else {
// 						$
// 					}
					
// 					$('#loading-indicator').hide();

// 	    }, "json");  
	$('#team-builder-alert').modal();
	    		$('#loading-indicator').hide();
		return false;
	}

	function reset() {
		if(confirm('{{ 'team.reset.confirm'|trans }}')) {
			// Reset team
		}
		return false;
	}
	</script>
{% endblock %}

{% block lolol_alert %}
<div id="team-builder-alert" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block lololapp_body %}
<div class="row team-builder compacted-gallery">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-1">
			<form method="POST" action="">
				<button class="btn btn-primary btn-save" type="submit" disabled><i class="fa fa-save"></i> {{ 'team.save'|trans }}</button>
				<button class="btn btn-danger btn-reset" type="submit"><i class="fa fa-eraser"></i> {{ 'team.reset'|trans }}</button> 
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<p><strong>{{ 'team.selected'|trans }}</strong></p>
		</div>
		<div class="col-xs-10">
			<p><strong>{{ 'team.pool'|trans }}</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 team-selected">
			<div class="row">
			{% for champion in team %}
			{% else %}
				<div class="col-xs-12 text-center">
					<div id="team0" class="thumbnail droppable">
						<img id="img-team0"  class="img-responsive" data-src="holder.js/48x48/text:1">
						<a href="#"><small>{{ 'team.empty'|trans }}</small></a>
					</div>
				</div>
				<div class="col-xs-12 text-center">
					<div id="team1" class="thumbnail droppable">
						<img id="img-team1" class="img-responsive" data-src="holder.js/48x48/text:2">
						<a href="#"><small>{{ 'team.empty'|trans }}</small></a>
					</div>
				</div>
				<div class="col-xs-12 text-center">
					<div id="team2" class="thumbnail droppable">
						<img id="img-team2"  class="img-responsive" data-src="holder.js/48x48/text:3">
						<a href="#"><small>{{ 'team.empty'|trans }}</small></a>
					</div>
				</div>
				<div class="col-xs-12 text-center">
					<div id="team3" class="thumbnail droppable">
						<img id="img-team3"  class="img-responsive" data-src="holder.js/48x48/text:4">
						<a href="#"><small>{{ 'team.empty'|trans }}</small></a>
					</div>
				</div>
				<div class="col-xs-12 text-center">
					<div id="team4" class="thumbnail droppable">
						<img id="img-team4"  class="img-responsive" data-src="holder.js/48x48/text:5">
						<a href="#"><small>{{ 'team.empty'|trans }}</small></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-10">
		{% for champion in champions %}
			<div class="col-xs-4 col-sm-2 text-center">
				<div id="champion-{{ champion.id }}" class="thumbnail draggable"> 
					<img id="img-champion-{{ champion.id }}" class="img-responsive"
						src="{{ asset(folder ~ '/img/' ~ prefixIcons48 ~ champion.imgName ~suffixIcons48) }}"
						alt="{{ champion.name }}" />
					<a href="{{ path('lolol_app_champion', { 'id': champion.id }) }}"><small>{{ champion.name }}</small></a>
				</div>
			</div>
		{% else %}
			<div class="col-xs-12">
				{{ 'team.pool.empty'|trans }}
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}