<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{% block title %}Lolol{% endblock %}</title> {% stylesheets
'css/bootstrap.css*' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %} {% block javascripts %}
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% javascripts 'js/bootstrap.js' 'js/holder.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %} {% endblock %}
</head>

<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Lolol</h1>
			<p>League of lol</p>
		</div>

		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				<li><a href="#">{{ 'Ranking'|trans }}</a></li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li><a href="{{ path('lolol_shop_homepage') }}">{{ 'Shop'|trans }}</a></li>
				{% endif %}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Teams'|trans }}
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuItem" href="{{ path('lolol_team_myteams') }}">{{ 'My teams'|trans }}</a></li>
							<li role="presentation"><a role="menuItem" href="{{ path('lolol_team_newteam') }}">{{ 'Create new team'|trans }}</a></li>
						</ul>
					</li>
				{% endif %}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li class="dropdown">
					<a href="#"
						class="dropdown-toggle" data-toggle="dropdown">{{ 'User'|trans }}
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuItem" href="{{ path('fos_user_security_logout') }}">{{ 'Log out'|trans }}</a></li>
						</ul>
					</li>
				{% else %}
					<li>
	    				<a href="{{ path('fos_user_profile_show') }}">{{ 'Log in'|trans }}</a>
	    			</li>
				{% endif %}
				</ul>			
				
				
	    		<ul class="nav navbar-nav navbar-right">
				{% if is_granted('ROLE_ADMIN') %}
	      			<li><a href="#">Admin</a></li>
	      		{% endif %}
	    		{% if is_granted('ROLE_SUPER_ADMIN') %}
	      			<li><a href="#">Super admin</a></li>
	      		{% endif %}
	    		</ul>
    		</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="content">{% block body %} {% endblock %}</div>

		<hr>

		<footer>
			<p>Footer</p>
		</footer>
	</div>
	</div>

</body>
</html>