<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{% block title %}Lolol{% endblock %}</title> 
{% stylesheets
'css/bootstrap.css' 'css/custom.css' 'css/font-awesome.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %} 

{% block javascripts %}
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% javascripts 'js/bootstrap.js' 'js/holder.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %} 
{% endblock %}
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('lolol_app_homepage') }}">Lolol</a>
			</div>
			

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse1">
				<ul class="nav navbar-nav">
				<li class="{{ app.request.attributes.get('_route') starts with 'lolol_ranking' ? 'active' }}"><a href="#"><i class="fa fa-list-ol"></i> {{ 'ranking.menu'|trans }}</a></li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li class="{{ app.request.attributes.get('_route') starts with 'lolol_shop' ? 'active' }}">
					<a href="{{ path('lolol_shop_champions') }}"><i class="fa fa-shopping-cart"></i> {{ 'shop.menu'|trans }}</a>
				</li>
				{% endif %}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li class="dropdown {{ app.request.attributes.get('_route') starts with 'lolol_team' ? 'active' }}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> {{ 'menu.team'|trans }}
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuItem" href="{{ path('lolol_team_myteams') }}"><i class="fa fa-bars fa-fw"></i> {{ 'menu.team.myTeams'|trans }}</a></li>
							<li role="presentation"><a role="menuItem" href="{{ path('lolol_team_newteam') }}"><i class="fa fa-plus-circle fa-fw"></i> {{ 'menu.team.createNewTeam'|trans }}</a></li>
						</ul>
					</li>
				{% endif %}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li class="dropdown {{ app.request.attributes.get('_route') starts with 'lolol_user' ? 'active' }}">
					<a href="#"
						class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ 'menu.user'|trans }}
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuItem" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'menu.user.logOut'|trans }}</a></li>
						</ul>
					</li>
				{% else %}
					<li>
	    				<a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-sign-in"></i> {{ 'menu.user.logIn'|trans }}</a>
	    			</li>
				{% endif %}
				</ul>			
				
				
	    		<ul class="nav navbar-nav navbar-right">
				{% if is_granted('ROLE_ADMIN') %}
	      			<li><a href="#"><i class="fa fa-cog"></i> Admin</a></li>
	      		{% endif %}
	    		{% if is_granted('ROLE_SUPER_ADMIN') %}
					<li class="dropdown {{ app.request.attributes.get('_route') starts with 'lolol_super_admin' ? 'active' }}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Super admin<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuItem" href="{{ path('lolol_super_admin_retrieveChampions') }}"><i class="fa fa-cloud-download fa-fw"></i> Retrieve champions</a></li>
							<li role="presentation"><a role="menuItem" href="{{ path('lolol_super_admin_populateChampions') }}"><i class="fa fa-bolt fa-fw"></i> Populate champions</a></li>
						</ul>
	      		{% endif %}
	      			<!--  <li>&nbsp;</li>  -->
		    	</ul>
	    	</div>
		</div>
	</div>
	
		
	<div class="container">
		<div id="content">
			{% for infoDetail in app.session.flashbag.get('info-detail') %}
	      	<div class="row">
				<div id="accordion" class="alert alert-info col-lg-6 col-lg-offset-3">
					{% for title in app.session.flashbag.get(infoDetail ~ '-title' ) %}
					<p><strong>Info:</strong> {{ title }}</p>
					{% endfor %}
					<p id="collapseOne" class="collapse">
						{% for detail in app.session.flashbag.get(infoDetail ~ '-detail' ) %}
						{{ detail }}<br />
						{% endfor %}
					</p>
					<p><a class="btn btn-default btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Details &raquo;</a></p>
				</div>		
			</div>	
      		{% endfor %}
      		
			{% for info in app.session.flashbag.get('info') %}
	      	<div class="row">
				<div class="alert alert-info col-lg-6 col-lg-offset-3">
					<p><strong>Info:</strong> {{ info }}</p>
				</div>		
			</div>	
      		{% endfor %}
      		
			{% for error in app.session.flashbag.get('error') %}
	      	<div class="row">
				<div class="alert alert-danger col-lg-6 col-lg-offset-3">
					<p><strong>Error:</strong> {{ error }}</p>
				</div>		
			</div>	
      		{% endfor %}

    	
		{% block body %} {% endblock %}
	    </div>

		<hr>

		<footer>
			<p>Footer</p>
		</footer>
	</div>
	</div>
	<img src="{{ asset('img/ajax-loader.gif') }}" id="loading-indicator" style="display: none" />
</body>
</html>